.navbarSec .navLinks > 
li:has(.nestedLinkBox.opened) .navLink {
    color: var(--color-primary);
}


@media screen and ( max-width:768px ) {

    .navbarSec .navLinks > li:has(.NestedLink){
        height: 47px;
        flex-direction: column;
        align-items: unset;
        overflow: hidden;
    }
    .navbarSec .navLinks > li:has(.nestedLinkBox.opened){
        height: 197px;
    }

}