.headroom {
    z-index: 999 !important;
}

.navbarSec {
    position: relative;
    height: fit-content;
    z-index: 999;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.212);
    background-color: var(bg-body);
}

.navbarSec .navContainer{
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    z-index: 3;
}
.navbarSec .navContainer::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 1px solid var(--color-borderLight);
    backdrop-filter: var(--main-blur);
    background: var(--bg-glass);
    transition: var(--transition-main);
}


.navIcnWrapper{
    display: flex;
    gap: 5px;
}

.navbarSec .navProfIcon{
    /* padding-inline: 15px; */
    width: 33px;
    height: 33px;
    display: grid;
    place-content: center;
    border-radius: 5px;
    border: 1px solid var(--color-borderLight);
    font-size: 17px;
    transition: var(--transition-main);
}
/* .navIcnWrapper .navProfIcon:nth-child(2){
    border-inline: 1px solid var(--color-borderLight) ;
} */
.navbarSec .navProfIcon:hover{
    color: var(--color-primary);
    border-color: var(--color-primary);
}
.navbarSec .navProfIcon.active{
    color: var(--color-primary);
    filter: drop-shadow( 0px 0px 4px );
}




.navbarSec a{
    color: var(--font-navColor);
}
.navbarSec .logo{
    display: flex;
    align-items: center;
    height: 33px;
    padding: 0px 14px 0px 14px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--font-navColor);
    background-color: transparent;
    border: 1px solid var(--color-borderLight);
}




/*SideBtn*/
.navbarSec .logoBX .sideBtn {
    position: relative;
    display: grid;
    place-content: center;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid var(--color-borderLight);
    color: var(--font-navColor);
    cursor: pointer;
    transition: var(--transition-main);
}
.navbarSec .logoBX .sideBtn:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
}
.navbarSec .logoBX .sideBtn svg{
    position: relative;
    left: -1px;
}



/*Search Icon*/
.navbarSec .icnWrapperSrch{
    position: relative;
    width: 33px;
    height: 33px;
    display: grid;
    place-content: center;
    border-radius: 5px;
    border: 1px solid var(--color-borderLight);
    background-color: transparent;
    color: var(--font-navColor);
    cursor: pointer;
    transition: var(--transition-main);
}

.navbarSec .icnWrapperSrch svg{
    position: relative;
    font-size: 18px;
}
.navbarSec .icnWrapperSrch:hover{
    color: var(--color-primary);
    /* background-color: var(--color-primary); */
    border-color: var(--color-primary);

}
.navbarSec .icnWrapperSrch.active{
    color: #fff;
    background-color: var(--color-primary);
}


@media screen and (max-width: 768px) {
    /*displays*/
    /* .navbarSec .icnWrapperSrch{
        display: none;
    } */
    
    
    .navbarSec .navContainer{
        height: unset;
        padding: 12px 20px;
    }
    /*LOGO*/
    /* .navbarSec .logoBX .logo{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } */
}
@media screen and (max-width: 650px) {
    /*displays*/
    .navbarSec .navProfIcon{
        display: none;
    }
    .navbarSec .logoBX .langBtnWrapper{
        display: none;
    }
}