html[dir="rtl"] .navbarSec .miniNestedBx{
    left: -87.5%;
    transform: translateX( 5px );
}
html[dir="rtl"] .navbarSec .linkItem:hover .miniNestedBx{
    transform: translateX( 0px ) ;
}
/*miniNestedBx*/

.navbarSec .linkItem:hover .miniNestedBx{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0px);
}


.navbarSec .miniNestedBx{
    width: 120px;
    position: absolute;
    left: 101%;
    transform: translateX(-5px) ;
    display: flex;
    flex-direction: column;
    padding-block: 7px;
    border-radius: 5px;
    border: 1px solid var(--color-borderLight);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-main);
}
.navbarSec .miniNestedBx::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    backdrop-filter: var(--main-blur);
    background: var(--bg-glass);
    transition: var(--transition-main);
}
.navbarSec .miniNestedBx .miniItem{
    padding: 7px 12px;
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    color: var(--font-navColor);
    transition: var(--transition-main);
}
.navbarSec .miniNestedBx .miniItem:hover{
    color: var(--color-primary);
    transform: translateX(5px);
}
html[dir="rtl"]  .navbarSec 
.miniNestedBx .miniItem:hover{
    transform: translateX(-5px);
}
.navbarSec .miniNestedBx  .miniItem a span{
    color: var(--font-navColor);
    transition: var(--transition-main);
}
.navbarSec .miniNestedBx  .miniItem a svg{
    color: var(--font-navColor);
    font-size: 15px;
    transition: var(--transition-main);
}
.navbarSec .miniNestedBx .miniItem:hover span,
.navbarSec .miniNestedBx .miniItem:hover svg{
    color: var(--color-primary);
}
.navbarSec .miniNestedBx  .miniItem:has(a.active),
.navbarSec .miniNestedBx  .miniItem a.active span,
.navbarSec .miniNestedBx  .miniItem a.active svg{
    color: var(--color-primary);
}
/*miniNestedBx*/


@media screen and (max-width:768px) {
    /* .navbarSec .linkItem{
        position: unset !important;
    } */
    .navbarSec .miniNestedBx{
        display: none;
    }
}