/*START UP Button*/
html[dir="rtl"] .arrow-btn{
    right: unset;
    left: -15px;
}
.arrow-btn{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 20px;
    transform: translate(50%, 100%);
    z-index: 997;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    box-shadow: none;
    outline: none;
    background-color: var(--container-bg-color);
    color: var(--color-primary);
    opacity: .5;
    transition: all .3s;
   
}
.arrow-btn:hover{
    opacity: 1;
}

.arrow-btn.visible{
    transform: translate(50%, -50%);
}
@media screen and (max-width:768px){
    .arrow-btn.visible{
        transform: translate(50%, -180%);
    }
}
/*END UP Button*/
