.profileLink{
    position: relative;
}
.profileLink > span{
    width: 33px;
    height: 33px;
    display: grid;
    place-content: center;
    border-radius: 5px;
    border: 1px solid var(--color-borderLight);
    color: var(--font-navColor);
    background-color: transparent;
    transition: var(--transition-main);
}

.profileLink > span:hover{
    border-color: var(--color-primary);
    color: var(--color-primary);
}
.profileLink.active > span{
    color: var(--color-primary);
    filter: drop-shadow( 0px 0px 4px );
}

.profileLink svg{
    position: relative;
    /* top: -1px; */
    border-radius: 3px;
    color: var(--font-navColor);
    transition: var(--transition-main);
}
.profileLink:hover span svg{
    color: var(--color-primary);
}
.profileLink.active span svg{
    color: var(--color-primary);
}

@media screen and ( max-width: 768px) {
    .profileLink{
        margin-left: 0px;
    }
}