/* MyShopPage.css */

.my-shop-page {
    padding-top: 20px;
}
.allProducts{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.product-info {
    flex: 1 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 20px;
    padding: 10px;
    background-color: var(--bg-component);
    box-shadow: var(--mainShadow);
    border: 1px solid var(--color-borderLight);
    border-radius: 10px;
}

.product-image {
    max-width: 150px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.prodTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-details{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.detItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.product-details p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
