
.carouselItem {
    position: relative;
    /* width: 250px; */
    display: grid;
    place-content: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--bg-component);
    overflow: hidden;
    border-radius: 5px;
    transition: var(--transition-main);
}
.carouselItem .itemTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    z-index: 1;
    width: 100px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 50px 3px 50px 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.719);
    font-size: 13px;
    transition: var(--transition-main);
}
.carouselItem .imgWrapper{
    overflow: hidden;
    display: grid;
    place-content: center;
    transition: var(--transition-main);
}
.carouselItem .imgWrapper img{
    width: 100%;
    filter: brightness(60%);
    transition: var(--transition-main);
}


/*start effect*/
.MainCarouselSec .slick-list:hover .carouselItem:not(:hover){
    filter: blur(2px);
}

.carouselItem:hover .itemTitle{
    opacity: 0;
    visibility: hidden;
}
.carouselItem:hover .imgWrapper img{
    filter: brightness(85%);
    transform: scale(1.05);
}

/*end effect*/




@media screen and (max-width: 992px) {
    
    .MainCarouselSec .slick-list:hover 
    .carouselItem:not(:hover){
        filter: blur(0px);
    }
}

@media screen and (max-width: 600px) {
    /* .carouselItem .itemTitle{
        font-size: 16px;
    } */
    .MainCarouselSec .slick-list:hover .carouselItem:not(:hover){
        filter: blur(0px);
    }
    .carouselItem {
        /* width: 180px; */
        /* margin-right: 10px; */
    }
}