/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

/* Define dark mode variables */
:root {
    /* ===================== COLORS ===================== */
    /* Primary Colors */
    --color-primary         : #2196F3;
    --dark-primary-color    : #1565C0;
    --light-primary-color   : #64B5F6;

    /* Secondary Colors */
    --color-secondary       : #00BCD4;
    --accent-color          : #009688;

    /* Some Colors */
    --color-black           : #1f2122;

    --glassBG-dark          : #11111181;
    --glassBG-light         : #ffffff63;

    /* Background Colors */
    --bg-glass              : var(--glassBG-dark);
    --bg-nav                : var(--color-black);
    --bg-body               : var(--color-black);
    --bg-footer             : var(--color-black);
    --bg-container          : var(--glassBG-light);
    /* --bg-section            : #1A1A1A; */
    --bg-section            : #27292a;
    --bg-component          : #27292a;
    --bg-nested             : #3f3f3fde;
    --color-borderLight     : #ffffff1f;

    /* Font Colors */
    --font-mainColor        : #E0E0E0;
    --font-secondaryColor   : #B0B0B0;
    --font-navColor         : #ffffff9c;
    --font-sideNavColor     : #ffffff9c;

    /* Other */
    --bg-Brightness         : rgba(0, 0, 0, 0.514);
    --main-blur             : blur(3px);
    --transition-main       : all .3s ease;
    --transition-sec        : all .3s ease-in-out;
    --distance-main         : 75px;
    --margin-main           : calc(var(--distance-main) - ( var(--distance-main) / 2 ));
    --padding-main          : calc(var(--distance-main) - ( var(--distance-main) / 3 ));
}

/* Define light mode variables */
[data-theme='light'] {

    /* Background Colors */
    --bg-glass              : #111111a4;
    --bg-body               : #eeeeee;
    --bg-footer             : #f3f3f3;
    --bg-section            : #f4f6fa;
    --bg-component          : #fff;
    --color-borderLight     : #ffffff1f;
    --bg-Brightness         : rgba(0, 0, 0, 0.322);




    /* Font Colors */
    --font-mainColor        : #000000;
    --font-secondaryColor   : #333333;
    /* --font-navColor         : #444;
    --font-sideNavColor     : #444; */


    /* Other */

}




html{
    scroll-behavior: smooth;
}

html[dir="rtl"] body {
    direction: rtl;
    text-align: right;
    font-family: "Noto Sans Arabic", sans-serif;
}

html[dir="ltr"] body {
    direction: ltr;
    text-align: left;
    font-family: 'Open Sans', system-ui, sans-serif;
}


*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar             { width           : 5px                     ;}
::-webkit-scrollbar-track       { background-color: var(--bg-component)     ;}
::-webkit-scrollbar-thumb       { background-color: var(--color-primary)    ;}

body {
    font-family: 'Open Sans', system-ui, sans-serif;
    background-color:  var(--bg-body) ;
    color: var(--font-mainColor);
    scroll-behavior: smooth;
    transition: var(--transition-main);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

input{
    outline: none;
}


