
.MAIN-WRAPPER:has(.homePage) 
.headroom--unfixed .navbarSec{
    box-shadow: none;
}
.MAIN-WRAPPER:has(.homePage) 
.headroom--unfixed .navbarSec 
.navContainer::before {
    border: 1px solid #ffffff15;
}

.MAIN-WRAPPER:has(.homePage) 
.headroom--unfixed .navbarSec 
.navContainer::before{
    background-color: transparent;
    transition: var(--transition-main);
}

.MAIN-WRAPPER:has(.homePage)
 .headroom-wrapper{
    position: absolute;
    width: 100%;
    
}
.MAIN-WRAPPER:has(.homePage)
 .headroom--unfixed {
    padding: 10px;
    transition: var(--transition-main);
}
.MAIN-WRAPPER:has(.homePage)
.navbarSec {
    border-radius: 10px;
}

.MAIN-WRAPPER:has(.homePage) 
.navContainer::before {
    border-radius: 10px;
}

.MAIN-WRAPPER:has(.homePage) 
.headroom--pinned:has(.navbarSec) 
.navContainer::before{
    border-radius: 0;
}